.menu {
    margin-top: 10px;
    display: flex;
    background-color: rgba(12, 39, 148, 0.146);
    justify-content: space-around;
    align-content: center;
    /* position: absolute; */
    width: 70vw;
    height: 30px;
    /* top: -2%; */
}

.radioContainer {
    /* -primary-color */
    box-sizing: border-box;
    /* background-color: rgba(12, 39, 148, 0.146); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.radioTileGroup {
    /* background-color: blueviolet; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inputContainer {
    position: relative;
    height: 25px;
    width: 25px;
    margin: 0 5px 0 5px;
}

.inputContainer input {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}

.inputContainer .radioTile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 2px solid rgb(237, 237, 243);
    background-color: rgba(12, 39, 148, 0.146);
    border-radius: 8px;
    transition: all 300ms ease;
}

.inputContainer ion-icon {
    color: white;
    /* background-color: rgba(12, 39, 148, 0.146); */
    /* font-size: 2rem; */
    height: 90%;
    width: 90%;
}

.inputContainer label {
    color: white;
    font-size: 0.3rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

input:checked+.radioTile {
    /* color: rgb(1, 8, 34); */
    background-color: rgb(13, 174, 214);
    box-shadow: 0 0 12px rgb(50, 41, 176);
}

input:hover+.radioTile {
    box-shadow: 0 0 12px var(rgb(50, 41, 176));
}

input:checked + .radioTile ion-icon 
input:checked + .radioTile label {
    color: red
;

}


.cartaaaa {
    /* width: 18vw;
    height: 10vh; */
    width: 150px;
    height: 220px;
    /* height: fit-content; */
    background-color: rgba(12, 39, 148, 0.146);
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    /* position: relative; voy a poner cosas encima */
    border-radius: 10px;
    margin: 5px;
    padding: 1px;
    box-shadow: 1px 1px 4px 0 rgba(20, 20, 20, 0.2)inset;

    /* transform-style: preserve-3d;
    transform: translateZ(-2em) rotateX(8deg);   */
    &:hover {
        transform: scale(1.1);
        cursor: pointer;
        background-color: rgba(4, 1, 37, 0.441);
    }
}

.radiobuttons {
    display: flex;
    flex-direction: column;
    background-color: rgb(69, 42, 165);
    justify-content: space-around;
    align-content: center;
    /* position: absolute; */
    width: 50vw;
    height: 25px;
    /* top: -2%; */
}

.wrapperText {
    width: 140px;
    height: 100px;
    /* height: fit-content; */
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    padding: 2px;
    margin-top: 10px;
    /* justify-content: center;   */
    align-items: center;
    background-color: rgba(1, 3, 23, 0.555);
    padding: 1px;
}

.container {
    /* background-color: rgb(43, 0, 255);  */
    display: flex;
    /* flex-direction: column; */
    margin-top: 10px;
    flex-wrap: wrap;
}

.name {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    /* font-size: 1.9em; */
    color: rgb(194, 198, 201);
    font-weight: 700;
    padding: 1px;
    font-size: 14px;
    margin: 1px;
    text-shadow: -2px 0px 0px black, 2px 0px 0px black, 0px -2px 0px black, 0px 2px 0px black;
    color: rgb(200, 200, 223);
}

.details {
    display: flex;
    justify-content: space-around;
    width: 138px;
    height: 40px;
    margin: 1px;
    letter-spacing: 1px;
    color: rgb(194, 198, 201);
    font-size: 12px;
    font-weight: lighter;
}

.imageContainerLive {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 147, 14);
    /* box-shadow: 0px 0px 9px 15px rgba(0,27,67,0.21) inset; */
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.imageContainerDead {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 249, 249);
    /* box-shadow: 0px 0px 9px 15px rgba(0,27,67,0.21) inset; */
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.cardImage {
    height: 95%;
    width: 95%;
    border-radius: 50%;
}

.buttonContainer {
    width: 150px;
    height: 25px;
    display: flex;
    /* justify-content:space-evenly;    */
    position: absolute;
    /* background-color: chartreuse; */
}

#buttonClose {
    height: 20px;
    width: 20px;
    color: rgb(2, 2, 37);
    background-color: rgba(245, 243, 248, 0.534);
    border-radius: 50%;
    margin: 2px;
    padding: 1px;
    font-weight: 700;
    font-size: 12px;
    position: relative;
    align-self: self-end;

    &:hover {
        transform: scale(1.1);
        color: rgba(192, 186, 186, 0.769);
        background-color: rgba(54, 4, 4, 0.441);
    }
}

#favicon {
    height: 20px;
    width: 20px;
    color: rgb(2, 2, 37);
    background-color: rgba(245, 243, 248, 0.534);
    border-radius: 50%;
    margin: 2px;
    padding: 1px;
    font-weight: 700;
    font-size: 12px;
    position: relative;
    align-self: self-start;

    &:hover {
        transform: scale(1.1);
        color: rgba(192, 186, 186, 0.769);
        background-color: rgba(54, 4, 4, 0.441);
    }
}

.textLive {
    color: rgb(25, 147, 14);
    font-weight: 500;
}

.textDead {
    color: rgb(240, 7, 7);
    font-weight: 500;
}

.textUnknownDead {
    color: rgb(250, 249, 249);
    font-weight: 500;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit
}