.card{
    /* width: 18vw;
    height: 10vh; */
    width: 150px;
    height:220px;
    /* height: fit-content; */
    background-color: rgba(12, 39, 148, 0.146);    
    display: flex;
    flex-direction: column;   
    align-items: center;    
    /* justify-content: center; */
    /* position: relative; voy a poner cosas encima */
    border-radius: 10px;
    margin: 5px;
    padding: 1px;     
    box-shadow:  1px 1px 4px 0 rgba(20, 20, 20, 0.2)inset;
    /* transform-style: preserve-3d;
    transform: translateZ(-2em) rotateX(8deg);   */
    &:hover{
        transform: scale(1.1);   
        cursor: pointer;
        background-color: rgba(4, 1, 37, 0.441); 
    }
}

.wrapperText{
    width: 140px;
    height: 100px;
    /* height: fit-content; */
    display: flex;
    border-radius: 10px;
    flex-direction: column;  
    padding: 2px;
    margin-top: 10px;
    /* justify-content: center;   */
    align-items: center;    
    background-color: rgba(1, 3, 23, 0.555);
    padding: 1px;      
}

.name{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    /* font-size: 1.9em; */
    color: rgb(194, 198, 201);
    font-weight: 700;
    padding: 1px; 
    font-size: 14px; 
    margin: 1px; 
    text-shadow:-2px 0px 0px black, 2px 0px 0px black, 0px -2px 0px black, 0px 2px 0px black;color: rgb(200, 200, 223);
}

.details {
    display: flex;
    justify-content: space-around;
    width: 138px;
    height: 40px;
    margin: 1px;
    letter-spacing: 1px;
    color: rgb(194, 198, 201);
    font-size: 12px;
    font-weight: lighter;
}

.imageContainerLive{    
    height: 100px;
	width: 100px;
	border-radius: 50%;
    margin-top: 5px;
    display: flex;
    justify-content: center;  
    align-items: center;
    background-color: rgb(25, 147, 14);
    /* box-shadow: 0px 0px 9px 15px rgba(0,27,67,0.21) inset; */
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
}

.imageContainerDead{    
    height: 100px;
	width: 100px;
	border-radius: 50%;
    display: flex;
    justify-content: center;  
    align-items: center;
    background-color: rgb(250, 249, 249);
    /* box-shadow: 0px 0px 9px 15px rgba(0,27,67,0.21) inset; */
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
}

.cardImage {    
    height: 95%;
	width: 95%;
	border-radius: 50%;  
}

.buttonContainer{
    display: flex;
    width: 140px;
    height: 25px;
    justify-content:space-between;   
    position: absolute; 
    /* background-color: chartreuse; */
}

.buttonClose{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 23px;
    width: 23px;
    color: rgb(2, 2, 37);
    background-color: rgba(245, 243, 248, 0.534);    
    border-radius: 50%;
    margin: 2px;
    padding: 1px;
    font-weight: 700;
    font-size: 12px;    
    position: relative;
    &:hover {
        transform: scale(1.1);
        color: rgba(192, 186, 186, 0.769);
        background-color: rgba(54, 4, 4, 0.441);
    }
}

.favicon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 23px;
    width: 23px;
    /* color: rgb(2, 2, 37); */
    /* background-color: rgba(245, 243, 248, 0.534);     */
    border-radius: 50%;
    margin: 2px;
    padding: 1px;
    position: relative;
    &:hover {
        transform: scale(1.1);
        color: rgba(192, 186, 186, 0.769);
        background-color: rgba(54, 4, 4, 0.441);
    }
}

.textLive{    
    color: rgb(25, 147, 14);
    font-weight: 500;
} 

.textDead{    
    color: rgb(240, 7, 7);
    font-weight: 500;
}

.textUnknownDead{    
    color: rgb(250, 249, 249);
    font-weight: 500;
}    

.link{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit
}