a:link,
a:visited,
a:active {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  /* justify-content:space-around; */
  margin: 2em;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.15);
  color: #f6f4e6;
  background-color: rgba(4, 1, 37, 0.441);
  width: 30vw;
  height: auto;   
  transition: all 0.4s ease;
  text-decoration: none;
}

.container:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
}
.container img {
  height: 100%;
	width: 100%;
	object-fit: cover;
}

.container img:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
}

.container h4 {
  text-decoration: none;
}

.container h4:hover {
  color: #fddb3a;
}

button{
  height: 2.2em;
  width: 2.2em;
  color: rgb(2, 2, 37);
  background-color: rgba(245, 243, 248, 0.534);    
  border-radius: 50%;
  margin-top: 0.5em;
  margin-right: 0.5em;
  padding: 0.5em;
  font-weight: 700;
  font-size: 1em;   
  margin-left: 90%; 
  /* align-self: self-end; */
  &:hover {
      transform: scale(1.1);
      color: rgba(192, 186, 186, 0.769);
      background-color: rgba(54, 4, 4, 0.441);
  }
}

/* girar carta */
.carta_box {
  margin: 100px;
  width: 200px;
  height: 250px;
  position: relative;
  perspective: 1000px;
}

.carta_box:hover .carta {
    transform: rotateY(180deg);
}

.carta {
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}

.cara {
  position: absolute;
  backface-visibility: hidden;
}

.cara_detras {
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.buttonContainer{
  width: 30vw;
  height: 25px;
  display: flex;
  justify-content: flex-end;   
  position: absolute; 
  /* background-color: chartreuse; */
}

.buttonContainer button{
  height: 20px;
  width: 20px;
  color: rgb(2, 2, 37);
  background-color: rgba(245, 243, 248, 0.534);    
  border-radius: 50%;
  margin: 2px;
  padding: 1px;
  font-weight: 700;
  font-size: 12px;    
  position: relative;
  align-self: self-end;
  &:hover {
      transform: scale(1.1);
      color: rgba(192, 186, 186, 0.769);
      background-color: rgba(54, 4, 4, 0.441);
  }
}
